.wrapper{
  max-height: 450px;
  border: 1px solid #ddd;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  color: red;
 
}

body{
    background: black;
}

h1{
    color:blue;
}



 .wrapper .item{
  min-width: 250px;
  height: 450px;
  line-height: 25px;
  text-align: center;

}
p{
    color:blue;
}
